{
  "parser": "babel-eslint",
  "rules": { "no-console": "off", "no-unused-vars": "off" },
  "extends": ["eslint:recommended", "prettier"],
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  }
}
